* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  align-items: center;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 12px;
  align-items: center;
}

.logo p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */

  color: #ffffff;
}

.search > input {
  background: #262626;
  border-radius: 15px;
  border: none;
  width: 500px;
  height: 53px;
}

.search ::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  padding-left: 12px;
}

.button-box {
  display: flex;
  flex-wrap: wrap;
}

.button-box > div {
  margin-right: 25px;
}

.button-box > div > button {
  background: #262626;
  border-radius: 15px;
  border: none;
  width: 112px;
  height: 53px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;

  color: #ffffff;
}

.About_us {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px;
  margin-top: 50px;
  width: 1200px;
  height: 600px;
  border: none;
  background: #262626;
  box-shadow: -1px 1px 15px 7px rgba(247, 203, 9, 0.705);
  border-radius: 50px;
}

.para {
  position: absolute;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  left: 182px;
  top: 157px;
  color: #ffffff;
}

.about_us_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 55px;
  margin-top: 65px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.content1-para,
.content2-para,
.content3-para {
  padding-left: 35px;
}

.about_para1,
.about_para2,
.about_para3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #c4c4c4;
}

.Additional {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-right: 55px;
  margin-top: -3px;
}

.about_button {
  padding-top: 12px;
}
.ab {
  width: 227px;
  height: 76px;
  background: #fecb03;
  border-radius: 50px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 42px;
  color: #262626;
}

.categories {
  display: flex;
  align-items: center;
}

.our_categories {
  position: absolute;
  width: 453px;
  height: 76px;
  left: 164px;
  top: 813px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 68px;

  color: #ffffff;
}

.cards {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 185px;
  margin-left: 57px;
  width: 90vw;
}

.card {
  margin-top: 55px;
  background: #1f1f1f;
  border: 3px solid #262626;
  border-radius: 20px;
  border: none;
  width: 346px;
  height: 365px;
}

.card > .text > h3 {
  padding-top: 18px;
  padding-left: 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #c4c4c4;
}

.card > .text > p {
  padding-left: 29px;
  padding-top: 11px;
  text-align: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 25px;
  color: #c4c4c4;
  width: 294px;
}

.card > .text > button {
  position: relative;
  width: 158.44px;
  height: 58px;
  left: 167px;
  top: 73px;
  border: none;
  background: #fecb03;
  border-radius: 50px;
}

.footer {
  margin-bottom: 39px;
  /* margin: auto; */
  margin-left: 83px;
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  background: #262626;
  border-radius: 30px;
  border: none;
  width: 1330px;
}

.forent-content {
  margin: 14px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 336px;
}

.forent-content > .header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;

  color: #ffffff;
}

.forent-content > .info > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  /* line-height: 16px; */
  color: rgba(255, 255, 255, 0.8);
  padding-top: 12px;
}

.forent-content > .info > ul {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  list-style-type: none;
  font-size: 15px;
  /* line-height: 16px; */
  color: rgba(255, 255, 255, 0.8);
  padding-top: 12px;
}

.forent-content > .info > ul > li {
  padding-top: 7px;
}

/* Media Queries */

@media screen and (min-width: 2560px) and (max-width: 2720px) {
  .search > input {
    background: #262626;
    border-radius: 15px;
    border: none;
    width: 838px;
    height: 53px;
  }

  .About_us {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 576px;
    margin-top: 50px;
    width: 1400px;
    height: 600px;
    border: none;
    background: #262626;
    box-shadow: -1px 1px 15px 7px rgba(247, 203, 9, 0.705);
    border-radius: 50px;
  }

  .para {
    position: absolute;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    left: 685px;
    top: 157px;
    color: #ffffff;
  }

  .our_categories {
    /* text-align: center; */
    position: absolute;
    width: 453px;
    height: 63px;
    left: 43%;
    top: 813px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    color: #ffffff;
  }

  .cards {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 185px;
    margin-left: 10px;
    width: 100vw;
  }

  .footer {
    margin-bottom: 39px;
    /* margin: auto; */
    margin-left: 23%;
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background: #262626;
    border-radius: 30px;
    border: none;
    width: 1330px;
  }
}

@media screen and (max-width: 1024px) {
  .heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 12px;
    /* margin-left: 0%; */
    align-items: center;
    width: 146%;
  }

  .categories {
    width: 133%;
    display: flex;
    margin-left: 9%;
    align-items: center;
    width: -43%;
  }

  .cards {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 185px;
    margin-left: 10px;
    width: 123vw;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 12px;
    /* margin-left: 0%; */
    align-items: center;
    width: 191%;
  }

  .cards {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 185px;
    margin-left: 34px;
    width: 161vw;
  }

  .footer {
    margin-bottom: 39px;
    /* margin: auto; */
    margin-left: 83px;
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background: #262626;
    border-radius: 30px;
    border: none;
    width: 1287px;
  }
  .categories {
    width: 176%;
    display: flex;
    margin-left: 9%;
    align-items: center;
    width: -43%;
  }
  .cards {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 185px;
    margin-left: 5px;
    width: 167vw;
  }
}

@media screen and (min-width: 425px) and (max-width: 700px) {
  .heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 12px;
    /* margin-left: 0%; */
    align-items: center;
    width: 332%;
  }

  .About_us {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 118px;
    margin-top: 50px;
    width: 1200px;
    height: 600px;
    border: none;
    background: #262626;
    box-shadow: -1px 1px 15px 7px rgba(247, 203, 9, 0.705);
    border-radius: 50px;
  }

  .categories {
    width: 318%;
    display: flex;
    margin-left: 7%;
    align-items: center;
    width: -43%;
  }

  .cards {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 185px;
    margin-left: 5px;
    width: 316vw;
  }

  .footer {
    margin-bottom: 39px;
    /* margin: auto; */
    margin-left: 124px;
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background: #262626;
    border-radius: 30px;
    border: none;
    width: 1166px;
  }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
  .heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 12px;
    /* margin-left: 0%; */
    align-items: center;
    width: 374%;
  }

  .About_us {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    margin-top: 50px;
    width: 1160px;
    height: 556px;
    border: none;
    background: #262626;
    box-shadow: -1px 1px 15px 7px rgba(247, 203, 9, 0.705);
    border-radius: 50px;
  }

  .categories {
    width: 353%;
    display: flex;
    margin-left: 9%;
    align-items: center;
    width: -43%;
  }

  .cards {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 185px;
    margin-left: 5px;
    width: 351vw;
  }

  .footer {
    margin-bottom: 39px;
    /* margin: auto; */
    margin-left: 83px;
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background: #262626;
    border-radius: 30px;
    border: none;
    width: 1224px;
  }
}

@media screen and (min-width: 320px) and (max-width: 370px) {
  .heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 12px;
    /* margin-left: 0%; */
    align-items: center;
    width: 419%;
  }

  .About_us {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 91px;
    margin-top: 50px;
    width: 1119px;
    height: 598px;
    border: none;
    background: #262626;
    box-shadow: -1px 1px 15px 7px rgba(247, 203, 9, 0.705);
    border-radius: 50px;
  }

  .para {
    position: absolute;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    width: 53%;
    line-height: 41px;
    left: 151px;
    top: 169px;
    color: #ffffff;
  }

  .categories {
    width: 390%;
    display: flex;
    margin-left: 8%;
    align-items: center;
    width: -43%;
  }

  .cards {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 185px;
    margin-left: 5px;
    width: 382vw;
  }

  .our_categories {
    position: absolute;
    width: 453px;
    height: 76px;
    left: 87px;
    top: 805px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    color: #ffffff;
  }

  .footer {
    margin-bottom: 39px;
    /* margin: auto; */
    margin-left: 83px;
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background: #262626;
    border-radius: 30px;
    border: none;
    width: 1330px;
  }
}
